<body class="top-page">
  <section class="top-page__section">
    <h2 class="top-page__title">
      DoooSwitch
    </h2>
    <div class="prioritize-action">
      <h3 class="prioritize-action__title">
        【最優先アクション】
      </h3>
      <% @important_verbs.each do |verb| %>
        <p class="prioritize-action__actName">
          <%= verb.name %>
        </p>
        <%= record_toggle(verb) %>
        <div class="prioritize-action__doswitch">
          <a href="#"></a>
        </div>
        <%= plan_time(verb) %>
        <%= plan_clear(verb) %>
      <% end %>
    </div>
    <div class="setup-action">
      <h3 class="setup-action__title">
        【設定中アクション】
      </h3>
      <p id="RealtimeClockArea2" class="setup-action__now-time"></p>
      <div class="setup-action__list">
        <ul>
          <% @selected_verbs.each do |verb| %>
          <li class="setup-action__item">
            <p class="setup-action__actName">
              <%= verb.name %>
            </p>
            <div class="setup-action__doswitch">
            <div class="setup-action__doswitchStandTop">
                <%# <%= record_toggle(verb) %> 
              <div class="setup-action__doswitch-body">
                    <div class="setup-action__doswitch-body-a"></div>
                    <div class="setup-action__doswitch-body-b"></div>
              </div> 
            </div>
            <div class="setup-action__doswitchStandBody">
            </div>
            </div>
            <%# record_toggle(verb) %>
            <%= plan_time(verb) %>
          </li>
          <% end %>
      </div>
  </section>
</body>
