<h2>トップページ</h2>
<h3>【最優先アクション】</h3>
<% @important_verbs.each do |verb| %>
  <p><%= verb.name %></p>
  <%= record_toggle(verb) %>
  <%= plan_time(verb) %>
<% end %>
<h3>【設定中アクション】</h3>
<% @selected_verbs.each do |verb| %>
  <p><%= verb.name %></p>
  <%= record_toggle(verb) %>
  <%= plan_time(verb) %>
<% end %>
<div class="switch red">
    <a href="#"></a>
</div>
<div class="switch brue">
    <a href="#"></a>
</div>
<div class="switch yellow">
    <a href="#"></a>
</div>
<p id="RealtimeClockArea2"></p>



