<!DOCTYPE html>
<html>
  <head>
    <title>Doswitch2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <% flash.each do |type, msg| %>

  <p class="aaa"><% type = 'success' if type == 'notice' %></p>
  <% type = 'error' if type == 'alert' %>
  <script>
    toastr['<%= type %>']('<%= msg %>');
  </script>
<% end %>
  </body>
  
</html>
